body {
  text-align: center;
}
form {
  padding-top: 10%;
  display: inline-block;
}

#result{
  color: #b00029;
  font-size: 2em;
}

/*.form {*/
/*  border-bottom: 2px solid brown;*/
/*  align-content: center;*/
/*  text-align: center;*/
/*}*/
