<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="form"  action="/formdata" method="post">
    <label for="first_name">First Name:</label>
    <input id="first_name" type="text" name="first_name">
    <br><br>
    <label for="last_name">Last Name:</label>
    <input id="last_name" type="text" name="last_name">
    <br><br>
    <label for="age">Your Age:</label>
    <input id="age" type="number" name="age">
    <br><br>
    <input type="submit">
    <br><br>
</form>
</body>
</html>
